<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- ================= APPLICATION PROPERTIES ================= -->
    <!--<springProperty scope="context" name="LOG_PATH" source="log.path"/>-->
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <!-- ================= CONSOLE APPENDER ================= -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS}
                [%thread] [${springAppName}] %logger - %msg%n
            </pattern>s
        </encoder>
    </appender>

    <!-- ================= FILE APPENDER ================= -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<file>${LOG_PATH}/${springAppName}.log</file>-->

       <!-- <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/${springAppName}.log.%d{yyyy-MM-dd_HH}
            </fileNamePattern>
            <maxHistory>20</maxHistory>
        </rollingPolicy>-->

        <encoder>
            <pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS}
                [%thread] [${springAppName}] %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- ================= PACKAGE LOGGER ================= -->
    <logger name="com.techcode.studentmgmt" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <!-- ================= ROOT LOGGER ================= -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
